PORT=your_port_here
MONGO_URI=your_mongodb_uri_here

JWT_SECRET=your_jwt_secret_here
JWT_EXPIRES_IN=your_jwt_expiration_time_here #? For example: 7d for 7 days, 24h for 24 hours, etc.

ADMIN_NAME=your_admin_name_here
ADMIN_EMAIL=your_admin_email_here
ADMIN_PASSWORD=your_admin_password_here

CLOUDINARY_CLOUDE_NAME=your_cloudinary_cloud_name_here
CLOUDINARY_API_KEY=your_cloudinary_api_key_here
CLOUDINARY_API_SECRET=your_cloudinary_api_secret_here